name: Projest cicd flow

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Define branch name and date in a variable
      run: |
          echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          echo "DATE=$(date +'%d-%m-%Y')" >> $GITHUB_ENV
          
          

    - name: Build with Maven
      run: echo ${{  env.BRANCH_NAME  }}